<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBS管理中心</title>

    <link rel="stylesheet" href="../fonts/icomoon/stylesheet.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>

<h2 style="text-align: center">BBS论坛管理中心</h2>

<div style="margin: 50px auto;width: 800px;" id="app">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">&emsp;帖子&emsp;</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">&emsp;用户&emsp;</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <!-- 帖子 -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>帖子标题</th>
                    <th>用户名</th>
                    <th>版块</th>
                    <th>发帖时间</th>
                    <th>悬赏问题</th>
                    <th>悬赏币</th>
                    <th>置顶</th>
                    <th>加精</th>
                    <th>操作</th>
                </tr>

                <template v-if="posts==null">
                    <tr><td colspan="10">无帖子记录</td></tr>
                </template>
                <template v-else>
                    <template v-for="post in posts">
                        <tr>
                            <td>{{indexOf(post)}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.username}}</td>
                            <td>{{post.section.substr(2,post.section.length-2)}}</td>
                            <td>{{post.time}}</td>
                            <template v-if="post.point>0">
                                <td>是</td>
                                <td>{{post.point}}</td>
                            </template>
                            <template v-else>
                                <td>否</td>
                                <td>0</td>
                            </template>
                            <template v-if="post.top>0">
                                <td><button class="btn btn-block">取消置顶</button></td>
                            </template>
                            <template v-else>
                                <td><button class="btn btn-success">&emsp;置顶&emsp;</button></td>
                            </template>
                            <template v-if="post.point<0">
                                <td><button class="btn btn-block">取消加精</button></td>
                            </template>
                            <template v-else>
                                <td><button class="btn btn-success">&emsp;加精&emsp;</button></td>
                            </template>
                            <td>
                                <table style="text-align: center">
                                    <tr>
                                        <td width="60px"><input type="button" class="bt btn-warning" value="修改"></td>
                                        <td width="60px"><input type="button" class="bt btn-danger" value="删除"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </template>
                </template>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">.asf..</div>
        <div role="tabpanel" class="tab-pane" id="messages">.safasd..</div>
        <div role="tabpanel" class="tab-pane" id="settings">..asdf.</div>
    </div>
</div>

<script type="text/javascript">
    var vue = new Vue({
        el: "#app",
        data: {
            posts: null,
            username: sessionStorage.getItem("name") == null ? "" : sessionStorage.getItem("name")
        },
        method: {
            // 帖子的索引
            indexOf:function(post) {
                if(this.posts == null)
                    return -1;
                for(var i = 0;i < this.posts.length;i++)
                    if(this.posts[i] === post)
                        return i;
                return -1;
            },
            getAllPosts() {
                this.$http.get("/admin/getpostlist").then(function(value) {
                    this.posts = value.body;
                },function(reason) {

                });
            }
        }
    });
    if(vue.$data.username === '') {
        alert("请先登录！！！");
        location.href = "/admin";
    }else {
        vue.getAllPosts();
    }
</script>
</body>
</html>